.container {
    position: relative;
    width: 100%;
}

.mainButton {
    border-radius: var(--radius);
    width: 100%;
    text-align: left;
    padding: 1em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--clr-border);
    background-color: var(--clr-secondary);
    box-shadow: var(--shadow);

    &:hover {
        cursor: pointer;
    }
}

.list {
    list-style-type: none;
    width: 100%;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    max-height: 12rem;
    top: 2.25rem;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
}

.listItem {
    position: relative;
    width: 100%;
}


.label {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 1rem;
    text-align: left;
    transition: all var(--transition);
    transition-property: color, background-color;

    &:hover {
        cursor: pointer;
        background-color: var(--clr-border);
        color: var(--clr-primary);
    }
}

.input {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;

    &:focus+.label {
        color: var(--clr-secondary);
        background-color: var(--clr-accent);
    }
}


.labelActive {
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
}