%inputCommon {
    height: 100%;
    width: 100%;
    padding: 1em 0.75em;
    padding-top: 1.5em;
    box-shadow: var(--shadow);
    border: 1px solid var(--clr-border);
    background-color: var(--clr-secondary);
    border-radius: var(--radius);

    &:focus {
        outline-offset: 6px;
    }
}

%labelActiveTransform {
    transform: translate(1em, 0.25em);
}

%labelActive {
    &:focus+.label {
        @extend %labelActiveTransform;
        font-size: 0.8em;
    }
}