@use '/src/styles/mediaqueries.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Inter Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary: rgb(6, 8, 9);
  --clr-secondary: rgb(250, 250, 250);
  --clr-accent: rgb(55, 58, 83);
  --clr-accent-lighter: rgb(90, 90, 130);
  --clr-error: rgb(200, 10, 10);

  --clr-border: rgba(6, 8, 9, 0.3);
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  --transition: ease 0.25s;

  --radius: 0.3rem;
}

body {
  color: var(--clr-primary);
  background-color: white;
  background-image: url('/pattern.webp');

}

body.lock {
  max-height: 100vh;
  overflow: hidden;
}

.layout {
  padding: 1rem;
  max-width: 70rem;
  margin: auto;

  @include mediaqueries.sm {
    padding: 2rem;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}