.container {
    min-height: 50vh;
    min-height: 50dvh;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(20rem, 30vw, 90rem);
    margin: auto;
    box-shadow: var(--shadow);
    background-color: var(--clr-button-secondary);
    padding: 1em;
    border-radius: 0.5em;
}

.heading {
    margin-bottom: 1rem;
}

.closeButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}