@use '/src/styles/mediaqueries.scss';

.nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.record {
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    max-width: 35rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;


    @include mediaqueries.sm {
        padding: 2rem;
    }

    @include mediaqueries.xl {
        margin-top: 4rem;
        padding: 4rem;
    }
}

.name {
    margin-top: 1rem;

    @include mediaqueries.xl {
        margin-top: 2rem;
    }
}

.description {
    max-width: 100%;
    word-wrap: break-word;
}

.platform {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius);
    border: 1px solid var(--clr-accent);
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 5px 0 0 var(--clr-accent);
    align-items: center;
    gap: 1rem;
    color: var(--clr-primary);
    text-align: center;

    @include mediaqueries.xl {
        margin-top: 1.5rem;
    }

}

.platformLogo {
    object-fit: contain;
    max-height: 2rem;
    width: auto;
    font-size: 0.75rem;
}