@use '/src/styles/common.scss';


.label {
    transform: translate(0.75em, 1.2em);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    transition: all var(--transition);
    transition-property: transform, font-size;
}


.textArea {
    @extend %inputCommon;
    max-height: 8rem;
    resize: vertical;
    font-family: inherit;
    @extend %labelActive;
}

.container {
    width: 100%;
}

.textAreaContainer {
    position: relative;
}

.labelActive {
    transform: translate(0.75em, 0.15em);
    font-size: 0.8em;
}