@use '/src/styles/mediaqueries.scss';

.container {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-secondary);
    box-shadow: var(--shadow);
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem 2rem;
    border: 1px solid var(--clr-border);
    text-align: center;


    @include mediaqueries.xl {
        padding: 2rem 4rem;
        margin-top: 4rem;
    }
}

.iconContainer {
    background-color: var(--clr-error);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 70%;
    color: var(--clr-secondary);
}

.error {
    margin-top: 0.5rem;
    color: var(--clr-error);

    @include mediaqueries.xl {
        font-size: 3rem;
    }
}

.errorDescription {
    margin-top: 0.5rem;

    @include mediaqueries.xl {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}