.button {
    padding: 0.65em 1em;
    border-radius: var(--radius);
    background-color: var(--clr-button-primary);
    color: var(--clr-secondary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
    }
}

.buttonSecondary {
    background-color: var(--clr-button-secondary);
    color: var(--clr-primary);
    border-color: var(--clr-accent);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.iconOnly {
    display: flex;
    justify-content: center;
    align-items: center;
}