.button {
    padding: 0.65em 1em;
    border-radius: var(--radius);
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border: 1px solid transparent;
    transition: all var(--transition);
    transition-property: background-color, color;

    &:not(:disabled):hover {
        cursor: pointer;
        background-color: var(--clr-accent-lighter);
    }

    &:focus {
        outline-offset: 6px;
        background-color: var(--clr-accent-lighter);
        outline-width: 5;

    }


    &:disabled {
        opacity: 0.75;
    }
}

.buttonSecondary {
    color: var(--clr-primary);
    border-color: var(--clr-accent);
    background-color: var(--clr-secondary);

    &:not(:disabled):hover,
    &:focus {
        color: var(--clr-secondary);
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.iconOnly {
    display: flex;
    justify-content: center;
    align-items: center;
}